.section6
	background-color #000
	background-image url(../images/section6-bg.png)
	background-size cover
	background-position center
	padding 80px 0 100px

	&__header
		color #f3f3f3
		font-size 20px
		padding-bottom 58px
		letter-spacing 4px

	&__desc
		display block
		color #b2b3b3
		font-size 16px
		line-height 28px
		letter-spacing 0.8px
		padding-bottom 34px
	
	&__author
		text-transform uppercase
		color #b2b3b3
		font-size 14px
		letter-spacing 0.7px

.sec6-imac
	position relative
	float right
	margin-top -117px
	padding-bottom 16px
	
	&__image
		width 100%

	&__caption
		display inline-flex
		text-transform uppercase
		position absolute
		justify-content center
		align-items center
		font-family "Big John"
		font-size 30px
		width 100%
		height 75%
		left 0
		top 0
		


@media (max-width: 576px)
	.sec6-imac
		width 100%