+b.SECTION.section6.d-flex(style="background-image: url(assets/images/section6-bg.png)")
	.container.d-flex.flex-column
		.row
			.col-8.col-lg-6.offset-3.offset-lg-0.order-1.order-lg-2.p-0
				+b.sec6-imac
					+e.IMG.image(src="assets/images/section6-imac.png" alt="BOUNCY")
					+e.caption B#[.col-green o]uncy
			.col-10.col-md-12.col-lg-6.order-2.offset-1.offset-md-0.order-lg-1.p-0
				+e.H2.header Impressed ?
				+e.SPAN.desc.
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
				+e.SPAN.author.
					- #[strong Abdullah Noman]#[br]
					Creatice Director, #[span.col-green Code Cafe]
			
