+b.SECTION.section2.d-flex
	.container.d-flex.flex-column
		.row.justify-content-center
			+e.H2.header.col-12 DetailS ABOUT BOUNCY
			+e.SPAN.desc.col-5.
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium

