+b.SECTION.section2.d-flex
	.container.d-flex.flex-column
		.row.justify-content-center
			+e.H2.header.col-12 DetailS ABOUT BOUNCY
			+e.SPAN.desc.col-5.
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
			+b.sec2-icons.col-12
				+e.I.icon_active 
				+e.I.icon 
				+e.I.icon 
		.row
			+e.H2.header2.offset-1.col-10 Creative Ideas
			+e.SPAN.desc2.offset-1.col-4.
				At #[strong.col-green vero] eos et accusamus et iusto odio dignissimos #[strong.col-gray ducimus] qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
			+e.SPAN.desc3.offset-1.col-6.
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque #[strong.col-gray corrupti quos] dolores et quas molestias #[strong.col-green excepturi] sint occaecati cupiditate non provident, #[strong.col-gray similique] sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r
