.sec4-image
		position relative
		padding 0
		
		img
			width 100%
			height 100%

		&__text
			display none
			position absolute
			justify-content center
			align-items center
			color main-color
			font-family "Source Sans Pro"
			font-size 20px
			font-weight 300
			letter-spacing 4px
			text-transform uppercase
			width 100%
			height 100%
			left 0
			top 0

		&_overlay
			
			&>.sec4-image__text
				display inline-flex

			&::before
				position absolute
				display block
				content ''
				width 100%
				height 100%
				top 0
				left 0
				background-color #222
				opacity .85

.sec4-footer
	padding 38px 0
	background-color #19bd9a
	background-image url(../images/section4_footer.png)
	background-size cover
	background-position center

	&__text
		line-height 36px
		color main-color
		letter-spacing .8px
		font-size 20px
		width 100%
		white-space nowrap
		overflow hidden
		text-overflow ellipsis