.button
	display inline-block
	border 1px solid gray-color
	border-radius 18px
	font-size 16px
	line-height 12px
	color gray-color
	padding 12px 30px

	&:hover
		text-decoration none
		color gray-color
