.section13
	background-color #f3f3f3
	padding 80px 0 100px

	&__header
		text-align center
		font-size 20px
		padding-bottom 40px

	&__desc
		text-align center
		padding-bottom 80px

.sec13-info
	display flex
	flex-direction column
	background-color main-color
	padding 0
	min-height 300px
	margin-bottom 40px
	text-align center

	&__icon
		background-color #323a45
		background-size cover
		background-position center
		font-family "Pe-icon-7-stroke"
		font-size 50px
		letter-spacing .5px
		line-height 145px

	&__title
		color #464646
		font-size 16px
		letter-spacing .64px
		text-transform uppercase
		padding 30px 0 25px

	&__info
		color #81868e
		padding-bottom 30px
		font-size 14px
		line-height 20px
		text-transform uppercase
		letter-spacing 0.7px
