+b.SECTOIN.section13.d-flex#contact
	.container.d-flex.flex-column
		.row.justify-content-center
			+e.H2.header.col-12 Contact Us
			+e.SPAN.desc.col-10.col-sm-6.col-lg-5.
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium

		.row.justify-content-center
			+b.sec13-info.col-9.col-sm-7.col-md-4.col-lg-3
				+e.icon(style="background-image: url(assets/images/section13/icon-bg1.png)") 
				+e.title EMAIL
				+e.info.
					hello@codecafe.com<br>
					Personal@codecafe.com

			+b.sec13-info.col-9.col-sm-7.col-md-4.col-lg-3.offset-md-1
				+e.icon(style="background-image: url(assets/images/section13/icon-bg2.png)") 
				+e.title OUR OFFICE
				+e.info.
					240 Bhatikhana, 8200 Barisal<br>
					Bangladesh

			+b.sec13-info.col-9.col-sm-7.col-md-4.col-lg-3.offset-lg-1
				+e.icon(style="background-image: url(assets/images/section13/icon-bg3.png)") 
				+e.title PHONE
				+e.info.
					+00 11 66 99 66 44<br>
					11 99 66 44 065
