extends /blocks/layout-default/layout-default

block head
	//- Bootstrap
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")

	//- Slick
	link(rel="stylesheet" type="text/css" href="slick/slick.css")
	link(rel="stylesheet" type="text/css" href="slick/slick-theme.css")

	//-
	link(rel="stylesheet" type="text/css" href="assets/styles/jquery.mCustomScrollbar.min.css")

	- var pageTitle = 'Bouncy';

block content
	include /blocks/main-head/main-head
	include /blocks/section1/section1
	include /blocks/section2/section2
	include /blocks/section3/section3
	include /blocks/section4/section4
	include /blocks/section5/section5
	include /blocks/section6/section6
	include /blocks/section7/section7
	include /blocks/section8/section8
	include /blocks/section9/section9

	+scripts([
	 	'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js',
	 	'jquery.mCustomScrollbar.min.js',
	 	'jquery.viewportchecker.min.js',
	 	'../../slick/slick.min.js'
	])