.section5
	background-color #f3f3f3
	padding 80px 0 136px

	&__header
		text-align center
		font-size 20px
		padding-bottom 40px

	&__desc
		text-align center
		padding-bottom 60px

	&__header2
		padding-bottom 34px
		display block
		color #464646
		font-size 20px

	&__desc2
		padding-bottom 42px

	&__desc2
	&__desc3
		display block
		font-size 16px

		.col-gray
		.col-green
			font-size 16px

.sec5-icons
	padding 0 0 0 32px
	
	&__icon
		margin 17px auto 0
		display block
		background-color gray-color
		border-radius 50%
		width 53px
		height 53px
		line-height 53px
		text-align center
		vertical-align middle
		font-family 'Pe-icon-7-stroke'
		font-size 30px
		
		&_active
			background-color #19bd9a
		
		&:first-child
			margin-top 0

.sec5-diagrams
	padding 0 4%