+b.SECTION.section5.d-flex
	.container.d-flex.flex-column
		.row.justify-content-center
			+e.H2.header.col-12 Our Services
			+e.SPAN.desc.col-10.col-sm-6.col-lg-5.
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium

		.row
			+b.sec5-icons.col-2
				+e.I.icon 
				+e.I.icon_active 
				+e.I.icon 
				+e.I.icon 

			.col-4.p-0
				+e.H2.header2 Graphic Design
				+e.SPAN.desc2.
					At vero eos et accusamus et #[strong.col-green iusto] odio dignissimos #[strong.col-gray ducimus] qui blanditiis praesentium voluptatum deleniti
				+e.SPAN.desc3.
					quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, #[strong.col-green similique sunt] in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.

			.col-6.p-0.container-fluid
				.row
