.progress-diagramm
	position relative
	display block
	text-align left
	border-bottom 4px solid #e1e4e9
	width 100%
	color #81868e
	font-family "Source Sans Pro"
	font-size 16px
	line-height 25px
	font-weight 300
	text-transform uppercase
	letter-spacing 1.6px
	
	&::before
		display block
		position absolute
		right 0
		top 0
		content attr(data-percent) ' %'
		color #81868e
		font-family "Source Sans Pro"
		font-size 16px
		font-weight 300
		letter-spacing 1.6px
	
	&__progress
		display block
		background-color #19bd9a
		transition width 1.3s ease-in-out
		position absolute
		content ''
		bottom -4px
		left 0
		width 0
		height 4px
