+b.SECTOIN.section12.d-flex(style="background-image: url(assets/images/section12-bg.png)")
	.container.d-flex.flex-column
		.row.justify-content-center
			+e.H2.header.col-12 Subscribe us
			+e.SPAN.desc.col-10.col-sm-6.col-lg-5.
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium

		+b.FORM.sec12-form.row.justify-content-center(action="#" method="post")
			+e.INPUT.email.col-10.col-md-6.col-lg-4(type="email" name="email" placeholder="Email Address")
			+e.BUTTON.submit(type="submit") SUBMIT
