.footer
	background-color #f3f3f3
	padding 80px 0 90px
	text-align center

	&__logo
		color #323a45
		font-family "Big John"
		font-size 25px
		font-weight 700
		text-transform uppercase
		padding-bottom 24px
	
	&__copyright
		color #81868e
		font-size 14px
		letter-spacing 0.7px
		//padding-bottom 36px