+b.SECTOIN.section10.d-flex
	.container
		.row
			+e.H2.header.col-12 LATEST NEWS
			+e.SPAN.desc.col-10.col-sm-6.col-lg-5.
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium

		.row
			+b.sec10-slider.col-10.col-sm-11.p-0
				- const PAGE_NUM = 3;
				- for (var page = 0; page < PAGE_NUM; page++) {
				+b.sec10-page.container-fluid.row
					.offset-1.col-11.col-sm-10.col-md-9.col-lg-7.col-xs-6
						+e.header The trending Landing Pages
						+e.author by #[span.col-green Kabir Uddin]
						+e.stats 6950 Likes - 243 Comments - 703 shares
						+e.desc.
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio...  
						+e.A.read-more(href="#") + Read More
				- }
			+b.sec10-dots.col-2.col-sm-1.d-flex.justify-content-end.align-items-center