.slider
	&__paging
		padding-top 61px
		display flex
		justify-content center
		margin 0

		li
			display inline-block

			&.slick-active .slider__button
				background-color #19bd9a

	&__button
		display inline-block
		margin 0 5px
		width 10px
		height 10px
		border-radius 50%
		border 1px solid #19bd9a
