.section14
	background-color main-color
	padding 65px 0 115px

.sec14-form
	&__input
		background-color transparent
		color #a9a9a9
		font-size 14px
		letter-spacing .14px
		border 1px solid #d8dce0
		padding 14px 20px
		margin 15px 0
		width 100%

		&::placeholder
			color #a9a9a9
			font-size 14px
			letter-spacing 0.14px
		
		&_report
			min-height 190px
	
	&__submit
		border none
		outline none
		background-color #19bd9a
		color main-color
		font-size 14px
		text-align center
		text-transform uppercase
		letter-spacing .14px
		padding 15px 0
		margin 15px 0
		width 100%

